<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="static/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="static/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <title>Clearmin template</title>
</head>

<body class="cm-1-navbar">
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><a href="index.html" class=""></a></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items" style="transform: translateY(0px);">
                    <li class="active"><a href="/" class="sf-house">QuickStart</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex">
            <h1>QuickStart</h1>
            <form id="cm-search" action="/" method="get">
                <input type="search" name="q" autocomplete="off" placeholder="Search...">
            </form>
        </div>


        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong>John Smith</strong></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-cog"></i> Change password</a>
                </li>
                <li>
                    <a href="login.html"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global">
    <style>.demo-btn .btn {
        margin: 5px
    }</style>
    <div class="container-fluid">
        <div class="row cm-fix-height">
            <form class="form-horizontal">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">HOST INPUT</div>
                        <div class="panel-body" style="min-height: 228px;">
                            <textarea id="iplist" class="form-control" rows="9"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">RUN</div>
                        <div class="panel-body" style="min-height: 214px;">
                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputUsername"
                                           placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="text" onfocus="this.type='password'" class="form-control"
                                           id="inputPassword"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCommand" class="col-sm-2 control-label">Command</label>
                                <div class="col-sm-10">
                                    <input type="Command" class="form-control" id="inputCommand" placeholder="Command">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                {{/*                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remPass">
                                            保存主机的密码
                                        </label>
                                        <label>
                                            <input type="checkbox" name="usePassInDB">
                                            使用保存的密码
                                        </label>
                                    </div>*/}}
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0">
                                <div class="col-sm-offset-2 col-sm-10 text-right">
                                    <button type="button" class="btn btn-primary" id="btnRun">RUN</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">RESULT(<span id="currentCountIP">0</span>/<span
                            id="totalCountIP">0</span>)
                    </div>
                    <div class="panel-body">

                        <div class="input-group" style="width:100%;margin: 0 auto;">
                            <input id="tableSearch" type="text" class="form-control" placeholder="Search for..."
                                   onchange="tableFilter()">
                            <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">SEARCH</button>
                                    </span>
                        </div>
                    </div>

                    <table id="resultTable" class="table tablesorter" style="white-space: pre-line">
                        <thead>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th style="width: 10%">Host<button id="func8" onclick="IPContent();" style="
    border: 0;vertical-align: bottom; background: white"><img src="static/img/sf/file-text.svg" height="20" width="20"></button>
                            </th>
                            <th style="width: 10%;margin:0 auto;">Status</th>
                            <th style="width: 50%">Stdout</th>
                            <th style="width: 20%">Stderr</th>
                        </tr>
                        </thead>

                        <tbody id="ResultContent">
                        <tr>
                            <td colspan="5" style="text-align:center;">There is No data available</td>
                        </tr>

                        </tbody>

                    </table>


                </div>
            </div>
        </div>
    </div>
    <footer class="cm-footer"><span class="pull-left">Connected as John Smith</span><span class="pull-right">© PAOMEDIA SARL</span>
    </footer>
</div>


<script src="static/js/lib/jquery-2.1.3.min.js"></script>
<script src="static/js/jquery.mousewheel.min.js"></script>
<script src="static/js/jquery.cookie.min.js"></script>
<script src="static/js/fastclick.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/clearmin.min.js"></script>
<script src="static/js/demo/home.js"></script>
<script src="static/js/layer/layer.js"></script>

<script>
    $(function () {
        $('#btnRun').click(function () {
            var user = $('#inputUsername').val();
            var password = $('#inputPassword').val();
            var command = $('#inputCommand').val();
            var addrPortList = $('#iplist').val().split("\n");

            if (user == "" || password == "" || command == "" || addrPortList == "") {
                alert('请补全信息');
                return false;
            }

            var hostList = [];

            for (i in addrPortList) {
                if (trim(addrPortList[i]) == "") {
                    continue
                }
                if (addrPortList[i].indexOf(":") != -1) {

                    addr = addrPortList[i].split(":");

                    if (isNaN(addr[1])) {
                        alert('存在非法IP');
                        return
                    }
                    port = parseInt(addr[1]);
                    if (port < 0 || port > 65535) {
                        alert('存在非法IP');
                        return
                    }
                    var ip = addr[0];

                    if (checkIpAddr(ip)) {
                        hostList.push({
                            addr: ip,
                            port: port
                        })
                    } else {
                        alert('存在非法IP');
                        return
                    }

                } else {

                    var ip = addrPortList[i];
                    if (trim(ip) == "") {
                        continue
                    }

                    if (checkIpAddr(ip)) {
                        hostList.push({
                            addr: ip,
                            port: 22
                        })
                    } else {
                        alert('存在非法IP');
                        return
                    }
                }
            }

            if (hostList == "") {
                alert('请补全信息');
                return
            }
            var authList = [];
            authList.push({
                user: user,
                password: password
            });

            $('#ResultContent').html('');

            var totalHostCount = hostList.length;

            //写入到HTML中
            $("#totalCountIP").text(totalHostCount);
            $("#currentCountIP").text(0);


            $.ajax({
                url: "/v1/quickStart",
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify({
                    hostList: hostList,
                    command: command,
                    authList: authList
                }),
                success: function (data) {
                    if (data.code == 20000) {
                        alert('任务提交成功');
                        getResult(data.data, hostList.length);
                        //webSocket(data.data)


                    } else {
                        alert('任务提交失败');
                    }
                },

                error: function () {
                    console.log('通信异常');
                }
            })

        });

    });


    function checkIpAddr(ipaddr) {

        if (trim(ipaddr) == "") {
            return false;
        }

        var ss = ipaddr.split(".");

        if (ss.length != 4) {
            return false;
        }

        var i = 0;
        for (i = 0; i < ss.length; i++) {
            if (isNaN(ss[i]) || parseInt(ss[i]) < 0 || parseInt(ss[i]) > 255) {
                return false;
            }
        }
        return true;
    }

    function trim(text) {
        if (typeof(text) == "string") {
            return text.replace(/^\s*|\s*$/g, "");
        } else {
            return text;
        }
    }

    function getResult(tid, totalCount) {

        var startId = 0;
        var count = 0;
        var tableIndex = 0;


        if (startId ===0){
            $('#ResultContent').html('');
        }

        var timeId = setInterval(function () {

            $.ajax({
                url: '/v1/queryTaskResults',
                type: 'post',
                dataType: 'json',
                data: {
                    taskId: tid,
                    startId: startId
                },

                success: function (data) {

                    if (data.code == 20000) {

                        startId = data.data.lastId;

                        count += data.data.currentCount;

                        $.each(data.data.taskDetails, function () {

                            var v = this;
                            var row = '<tr>' +
                                    '<td>' + (++tableIndex) + '</td>' +
                                    '<td>' + v.Ip + ":" + v.Port + '</td>' +
                                    '<td>' + "code:"+v.ResultCode + '</td>' +
                                    '<td>' + v.ResultContent + '</td>' +
                                    '<td>' + v.ResultErr + '</td>' +
                                    '</tr>';

                            $(row).prependTo($('#ResultContent'));


                        });
                        getCurrentIpCount();

                        if (count == totalCount) {
                            window.clearInterval(timeId);
                        }

                    }
                },
                error: function () {
                    console.log('通信异常');
                    window.clearInterval(timeId);
                }
            })


        }, 1000);


    }


    function tableFilter() {
        var keyword = document.getElementById("tableSearch").value.toLowerCase().split(" ");
        var table = document.getElementById("ResultContent");
        var ele;
        for (var r = 0; r < table.rows.length; r++) {
            ele = table.rows[r].innerHTML;
            var displayStyle = 'none';
            for (var i = 0; i < keyword.length; i++) {
                if (keyword == "") {
                    displayStyle = "";
                    break;
                }
                if (ele.toLowerCase().indexOf(keyword[i]) > 0) {
                    displayStyle = '';
                }
                else {
                    displayStyle = 'none';
                    break;
                }
            }
            table.rows[r].style.display = displayStyle;
        }
        getCurrentIpCount();
    }


    function IPContent() {

        var list = "";
        $("#ResultContent tr").each(function () {
            //list.push($(this).find("td").eq(1).html());
            if ($(this).is(':visible')) {
                list += "<div style='margin-left: 20px'>" + $(this).find("td").eq(1).html() + "</div>"
            }

        });

        //自定页

        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 0, //不显示关闭按钮
            shift: 2,
            area: ['300px', '400px'], //宽高
            shadeClose: true, //开启遮罩关闭
            content: list,
            title: "IP"
        });
    }


    function getCurrentIpCount() {
        var CurrentIpCount = $("#ResultContent tr:visible").length
        //写入页面中
        $("#currentCountIP").text(CurrentIpCount)
    }


</script>

<div id="cm-menu-backdrop" class="visible-xs-block visible-sm-block"></div>
<div id="cm-submenu-popover" class="dropdown">
    <div data-toggle="dropdown"></div>
    <div class="popover cm-popover right">
        <div class="arrow"></div>
        <div class="popover-content">
            <ul></ul>
        </div>
    </div>
</div>
</body>

</html>